<section class="highscore-content">

    <div class="highscore-list">
        <h1> Highscore List </h1>
        <% list.forEach(function(item) { %>
        <div class="highscore-item">
            <h4><%= item.firstName%> <span class="highscore-item-time"><%= item.completionTime%></span></h4> 
            <p><%= item.wordLength%>-letter <%= item.uniqueLetters%></p>
            <p>Number of guesses: <%= item.numberOfGuesses%></p>
        </div>
        <% }); %>  
 
    </div>
</section>

